.*
!.gitignore

# IntelliJ
/*.iml
/*.ipr
/*.iws
*.sc

# Sbt
/project/project
/project/target

# Maven
/target/

#Vaadin widgetsets
src/main/webapp/VAADIN/widgetsets
src/main/webapp/VAADIN/gwt-unitCache

#compiled css
src/main/webapp/VAADIN/themes/*/*.css
